<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFfWtATuRJ3daaJ-eH0bVAx51djQ2zxZo</string>
	<key>GCM_SENDER_ID</key>
	<string>1012299080197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Donobox</string>
	<key>PROJECT_ID</key>
	<string>Donobox-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>Donobox-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012299080197:ios:a9193e1d6d57e2d6c2326c</string>
</dict>
</plist>